body {
    line-height: 2.2;
}
.form{
    width: 1000px;
    margin: 5% auto;
    padding: 10px;
}

.mr5{
    margin: 5px 0px;
}

.pdr-10{
    padding-right: 10px;
}

.pdl-0{
    padding-left: 0px;
}

.mrl-5{
    margin-left: -5px;
}

.pd-0{
    padding: 0px;
}

.mr-0{
    margin: 0px;
}