.containerDiv {
    border: 1px solid #3697f6;
    width: 100%; display:table
  }
  .rowDivHeader {
    border: 1px solid #668db6;
    background-color: #336799;
    color: white;
    font-weight: bold; display:table-row
  }
  .rowDiv {
    border: 1px solid #668db6;
    background-color: #cee6fe;
    display:table-row
  }
  .cellDivHeader {
    border-right: 1px solid white;
    display: table-cell;
    width:12%;
    padding: 1px;
    text-align: center; 
  }
  .cellDiv {
    border-right: 2px solid white;
    display: table-cell;
    width:20%;
    padding-right: 4px;
    text-align: center;
    border-bottom: none;
  }
  
  .lastCell {
    border-right: none;
  }
  